.pages {
    position: relative;
    color: #0085ff;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
    width: 50vw;
    top: 20vh;
    font-size: 2rem;
}

.pages > p {
    font-family: "Montserrat", sans-serif;
    color: #555555;
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
    width: 50vw;
    top: 25vh;
    font-size: 1rem;
}

.footer {
    background-color: #192a56;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    padding: 3vh;
    margin-top: 100vh;
    text-align: center;
}

button {
    background-color: #ffffff;
    border: 0.1em solid #192a56;
    border-radius: 0.3em;
    color: #192a56;
    cursor: pointer;
    font-size: 0.7em;
    font-weight: 700;
    height: 3.5em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    width: 7rem;
}

button:hover {
    background-color: #192a56;
    color: #fff;
}

