.pages {
    position: relative;
    text-align: center;
    border: 1px solid #5101d1;
    padding: 1rem;
    margin: 2rem auto;
    width: 30rem;
    max-width: 80%;
    top: 4.2rem;
}

button {
    background-color: #f6e58d;
    border-radius: 25px;
    border: none;
    margin-left: 25px;
    color: #000;
    cursor: pointer;
    font-size: 11px;
    font-weight: 700;
    height: 40px;
    letter-spacing: 2px;
    outline: none;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    width: 150px;
}

button:hover {
    background-color: #0e8c7f;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.8);
    color: #fff;
    transform: translateY(-7px);
}

