.pages {
    position: relative;
    color: #0085ff;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 1rem;
    margin: auto;
    width: 50vw;
    top: 20vh;
    font-size: 2rem;
}

.pages > p {
    font-family: "Montserrat", sans-serif;
    color: #555555;
    text-align: center;
    padding: 1rem;
    margin: auto;
    width: 50vw;
    top: 25vh;
    font-size: 1rem;
}

.footer {
    background-color: #192a56;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    padding: 3vh;
    margin-top: 100vh;
    text-align: center;
}
button {
    background-color: #ffffff;
    border: 1px solid #192a56;
    border-radius: 5px;
    color: #192a56;
    cursor: pointer;
    font-size: 11px;
    font-weight: 700;
    height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 8vw;
}

button:hover {
    background-color: #192a56;
    color: #fff;
}

