.bookings__list-item {
    margin: 0 auto;
    margin-top: 7em;
}

.bookings__list-item div {
    height: 36vh;
    width: 100%;
    margin-top: -4em;
}

.bookings__list-item img {
    width: 35vw;
    height: 36vh;
}

.bookings__list-item h1 {
    color: #192a56;
    font-family: Montserrat, serif;
    font-size: 1.2rem;
    left: 22%;
    position: relative;
    text-align: center;
    top: -95%;
}

.bookings__list-item p {
    color: #555555;
    font-family: Montserrat, serif;
    left: 22%;
    position: relative;
    text-align: center;
    top: -95%;
}

.bookings__list-item button {
    display: block;
    left: 64%;
    position: relative;
    text-align: center;
    width: 15em;
    top: -80%;
}
