.main-navigation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 5em;
    background: #ffffff;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 3px 2px 2px #dddddd;
    z-index: 1;
}

.main-navigation__logo {
    margin-left: 1.4em;
    text-decoration: none;
    font-family: Montserrat serif;
    font-size: 1.4em;
    font-weight: lighter;
    color: #002366;
}

.main-navigation__logo:hover {
    border-bottom: 3px solid #fc5c65;
}

.main-navigation__items ul {
    display: flex;
    list-style: none;
    margin-right: 3em;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.main-navigation__items li {
    margin: 0 1rem;
    font-family: Montserrat, sans-serif;
}

.main-navigation__items a:hover {
    border-bottom: 3px solid #fc5c65;
}

.main-navigation__items a,
.main-navigation__items button {
    text-decoration: none;
    color: #002366;
    padding: 0.25rem 0.5rem;
    border: none;
    font: inherit;
    background: transparent;
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
}

.main-navigation__items a:active,
.main-navigation__items a.active {
    background: #ffffff;
    font-weight: 900;
}
