.timeslot-picker {
    display: inline;
    position: absolute;
    margin: 0 auto;
    top: 10em;
    left: -5%;
    height: 3vh;
    text-align: center;
}

.timeslot-picker .top-row {
    width: 100%;
    margin: 3rem;
    margin-top: 0rem;
}

.timeslot-picker .bottom-row {
    width: 100%;
    margin: 3rem;
}

.timeslot-active, .timeslot-active:hover {
    background-color: #dff9fb;
    border-radius: 0.5rem;
    box-shadow: none;
    border: none;
    color: #192a56;
    cursor: pointer;
    font-family: Montserrat, serif;
    font-size: 1.5vw;
    font-weight: 500;
    height: 10vh;
    letter-spacing: 2px;
    margin-left: 1rem;
    outline: none;
    text-transform: uppercase;
    transition: none;
    transform: none;
    width: 12vw;
}

.timeslot-selected, .timeslot-selected:hover {
    background-color: #192a56;
    border-radius: 0.5rem;
    box-shadow: none;
    border: 0.1rem;
    color: #ffffff;
    cursor: pointer;
    font-family: Montserrat, serif;
    font-size: 1.5vw;
    font-weight: 500;
    height: 10vh;
    letter-spacing: 2px;
    margin-left: 1rem;
    outline: none;
    text-transform: uppercase;
    transition: none;
    transform: none;
    width: 12vw;
}

.timeslot-inactive, .timeslot-inactive:hover {
    background-color: #b2bec3;
    border-radius: 0.5rem;
    border: none;
    box-shadow: none;
    color: #777777;
    cursor: default;
    font-family: Montserrat, serif;
    font-size: 1.5vw;
    font-weight: 500;
    height: 10vh;
    letter-spacing: 2px;
    margin-left: 1rem;
    outline: none;
    text-transform: uppercase;
    transform: none;
    transition: none;
    width: 12vw;
}
