.rooms__list-item {
    margin: 0 auto;
    margin-top: 26em;
    width: 90vw;
    height: 55vh;
}

.rooms__list-item img {
    width: 100%;
    height: 100%;
}

.rooms__list-item h1 {
    margin-bottom: 2vh;
    font-family: Montserrat, serif;
    font-size: 1.2rem;
    color: #000000;
    text-align: center;
}

.rooms__list-item p {
    font-family: Montserrat, serif;
    margin-bottom: 2vh;
    color: #555555;
    text-align: center;
}

.rooms__list-item button {
    display: block;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 3vh;
    font-family: Montserrat, serif;
    text-align: center;
}

