.bookmodal {
    width: 90vw;
    height: 75vh;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    position: fixed;
    top: 22vh;
    left: 5%;
    z-index: 100;
}

.bookmodal__calendar {
    position: relative;
    left: 41vw;
    height: 5vh;
    width: 8vw;
    border: 1px solid darkblue;
    border-radius: 5px;
    margin-top: 5vh;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.8rem;
    font-family: Montserrat, serif;
    font-size: 0.9rem;
    font-weight: bold;
}

.bookmodal__header {
    padding: 1rem;
    background: #192a56;
    color: white;
}

.bookmodal__header h1 {
    margin: 0 auto;
    font-family: Montserrat, serif;
    font-size: 1.25rem;
}

.bookmodal__actions {
    position: absolute;
    top: 85%;
    left: 39%;
}

.bookmodal__actions button {
    margin-left: 1rem;
    margin-right: 1rem;
}

@media (min-width: 768px) {
    .bookmodal {
        width: 90vw;
    }
}
